*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    height: 100%;
    width: 100%;
}
body{
   display: grid;
   justify-content: center;
}
.main-wrapper{
   width: 320px;
}
 main{
    padding: 20px;
 }
 .about-me-content-holder h1{
    text-align: center;
 }
 .potrait-and-content-container{
    display: grid;
    justify-items: center;
    gap: 20px;
 }
 .potrait-and-name-holder{
    position: relative;
    width: 280px;
 }
 .potrait-and-name-holder p{
    position: absolute;
    text-align: left;
    bottom: 0;
    left: 10px;
    font-size: 6rem;
    color: white;
 }