*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid black;
}
img{
    height: 100%;
    width: 100%;
}
body{
   display: grid;
   justify-content: center;
}
.main-wrapper{
   width: 320px;
}
 main{
    padding: 20px;
 }
 .about-me-content-holder h1{
    text-align: center;
 }
 .about-me-content-holder p{
    text-wrap: wrap;
 }
 .potrait-and-content-container{
    display: grid;
    justify-items: center;
    gap: 20px;
 }
 .potrait-and-name-holder{
    position: relative;
    width: 280px;
 }
 .potrait-and-name-holder p{
    position: absolute;
    text-align: left;
    bottom: 0;
    left: 10px;
    font-size: 6rem;
    color: white;
 }
 .about-me-content-holder{
   display: grid;
   gap: 5px;
   line-height: 1.5;
 }
 .about-me-section .icon-holder svg{
   width: 20px;
   height: 20px;
 }
 .about-me-section .icon-holder{
   margin-top: 10px;
   display: flex;
   justify-content: center;
   gap: 10px;
 }
 .potrait-holder{
      height: 100%;
      width: 100%;
   }
 @media (min-width: 641px){
   .potrait-and-content-container{
      display: block;
   }
   .potrait-and-name-holder{
      float: left;
      margin: 0 10px 0 0;
      width: 300px;
      /* height: 170px; */
      transform-origin: right bottom;
      transform:scale(1.2,1.2);
   }
   .main-wrapper{
      width: 620px;
   }
   .about-me-section{
      padding-top: 50px;
   }
   main{
      margin: 80px 50px;
   }
   .about-me-content-holder{
      display: block;
   }
   .about-me-section .icon-holder{
      justify-content: end;
   }
 }