*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}
img{
    height: 100%;
    width: 100%;
}
body{
   display: grid;
   justify-content: center;
}
.main-wrapper{
   max-width: 320px;
}
 main{
    padding: 20px;
 }
 .about-me-section{
   display: grid;
   position: relative;
 }
 .name{
   position: absolute;
   font-size: 5rem;
   top: 205px;
   padding-left: 10px;
   color: white;
   text-shadow: 0 1px black;
 }
 @media (min-width: 641px){
   
 }
  @media (min-width: 1008px){
   
 }